*{
    box-sizing: border-box;
}
.signup-title{
    padding-top: 2rem;
    text-align: center;
    color: crimson;
}
.signup-form{
    padding: 1rem;
    display: grid;
}
.signup-form label{
    font-weight: bold;
}
.signup-form label,
.signup-form input,
.signup-form select{
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}
.signup-form input{
    font: inherit;
    padding: 0.2rem;
}
.signup-form input,
.signup-form select{
    outline: none;
    border: 2px solid grey;
}
.signup-form input:focus,
.signup-form select:focus{
    background-color: rgb(228, 247, 218);
    border: 2px solid green;
    outline: none;
}
.signup-form input[type="checkbox"],
.signup-form label[for="agree-terms"]{
    display: inline-block;
    width: auto;
}
.button{
    display: block;
    margin-top: 1rem;
}

@media(min-width: 43rem){
    .signup-form{
        max-width: 40rem;
        margin: auto;
        grid-template-columns: 10rem auto;
        grid-row-gap: 1rem;
    }
    .checkbox-agree{
        grid-column: span 2;
    }
    .signup-form + label{
        grid-column: span 2;
    }
    #title{
        grid-column: span 2;
    }
    
}